@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Rubik", "Fredoka", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  position: relative;
}
#root {
  height: 100%;
}
.input-admin,
.form-control {
  border: 1px solid grey !important;
  border-radius: 5px;
  height: 40px;
  width: 100% !important;
  margin: 1% auto;
}
.css-mqt2s5 {
  position: absolute;
  right: 0px;
  left: unset !important;
}
.navbar-nav .dropdown-menu {
  position: static;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.crew-row {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root {
  position: relative;
}
.new-orders {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 3% 5% !important;
  width: 400px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
#order-counter {
  font-size: 70px;
  color: rgba(132, 0, 255, 1);
}
.Container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.swiper-container {
  width: 100%;
}
.store-home-container .shop-btn {
  bottom: 10% !important;
  background-color: transparent;
  border: 0px;
  font-size: 40px;
  width: fit-content !important;
  font-weight: bolder;
  transform: unset;
  left: unset;
}
.secondary-paragraph {
  direction: rtl;
  line-height: 1.8;
}
.academy-homepage-title,
.discover-homepage-title {
  font-size: 12vw;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0%;
}
.discover-homepage-title {
  margin: 0% 15% 15% 15%;
  width: 80% !important;
}
.academy-button {
  width: 200px;
  background-color: #ff5757;
  border: 0px solid black;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 500;
  padding: 5% 3%;
  color: #fff3bc;
  margin-top: 3%;
  direction: rtl;
}
.academy-row .sec-title {
  text-align: start;
  direction: rtl;
  font-size: calc(1.6vw + 1em);
}
.academy-homepage-title .beauty {
  color: #ff5757 !important;
  font-weight: 600;
  font-size: 15vw;
}
.title-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  direction: rtl;
}

.head {
  background-color: #111111;
  line-height: 1 !important;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 300px;
}

.col-6 {
  max-height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.icon-link {
  margin: 5px;
  padding: 5px;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-row {
  width: 100%;
  background-color: black;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 20%;
  padding-right: 20%;
}

.navbar {
  width: 100%;
  background-color: #111111 !important;
}

.mr-auto {
  margin: auto !important;
}

.bg-img {
  width: 100%;
}

video {
  object-fit: cover;
  width: 100%;
}

.second_section_img {
  width: 13rem;
}

.nav-collapsed {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.text_under_icons {
  font-size: 22px;
  font-weight: 400;
  direction: rtl;
  text-align: center;
  color: #636363;
}

.content-container {
  position: relative;
  width: 100%;
}

.first-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 80vh;
  overflow: hidden;
  width: 100%;
}

.instarow1 {
  overflow: visible;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}

.contact-home {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.abdev {
  width: 100% !important;
  margin: 1% !important;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.abdev-img {
  width: 100px;
  object-fit: contain;
}

.store-home-container {
  position: relative;
  padding: 5% 0;
}
.fourth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(223, 223, 131);
  background: linear-gradient(
    276deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(242, 242, 242, 1) 80%
  );
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.contact-container {
  border: 0px;
  padding: 30% 5% !important;
  display: flex;
  flex-direction: column;
  direction: rtl;
  background-color: rgba(224, 194, 119, 1);
  align-items: flex-start;
  overflow: hidden;
}
.contact-container .button {
  color: black !important;
}
.navbar > .container-fluid {
  flex-direction: row-reverse !important;
}
.offcanvasNavbarDropdown {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root,
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
  color: rgba(0, 0, 0, 0.6) !important;
  border-color: rgba(0, 0, 0, 0.6) !important;
  margin: 2% 1% !important;
}

.fourth-container .title {
  position: absolute;
  top: 35%;
  right: 3%;
  font-size: 24px;
}
.map-container {
  height: 300px;
  width: 100% !important;
  object-fit: fill;
  padding: 0% !important;
}
.contact-row .input {
  width: 90%;
  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

  border-radius: 0px;
  background-color: transparent;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  left: unset !important;
  right: 0;
  transform-origin: top right !important;
  margin: 1% 0%;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  margin: 1% !important;
}
.contact-row {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  text-align: right;
}
.map {
  width: 100% !important;
}
.address-row {
  padding-right: 15% !important;
}

.product-homepage-img {
  width: 40vw !important;
}
.product-homepage-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0% 0% !important;
  margin-top: 10% !important;
}
.product-homepage-content {
  display: flex;
  flex-direction: row;
  text-align: right;
  direction: rtl;
  margin-bottom: 5%;
  justify-content: center;
}
.beauty {
  color: rgba(224, 194, 119, 1);
  font-weight: 500;
  font-size: 15vw;
}
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translatex(0);
  }
  40% {
    transform: translatex(-30px);
  }
  60% {
    transform: translatex(-15px);
  }
}
.contact-description {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15% 0%;
}
.contact-description .row {
  align-items: center;
  margin: 5%;
}
.contact-description .text {
  flex-grow: 10;
}
.contact-text {
  margin-bottom: 0px;
}
.column {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 2em;
  height: 2em;
}
.swiper-btn {
  background: transparent;
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-txt {
  height: 100%;
  margin: auto;
  margin-bottom: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#react-select-5-listbox {
  z-index: 2;
}
@media all and (min-width: 0px) and (max-width: 800px) {
  .navbar-nav {
    align-items: center !important;
    flex-direction: column-reverse !important;
  }
  .foot {
    padding: 10% 0 0 0;
  }
  .storetitle {
    white-space: nowrap;
  }
  .enter-shop-btn {
    margin: auto;
  }
  .abdev {
    margin: 5% 0 !important;
    display: flex;
    justify-content: center;

  }
  .sec-title {
    font-size: 28px !important;
  }
  .idan-logo {
    display: flex;
    justify-content: center;
  }
  .back-img {
    position: relative;
    width: 80vh;
    left: -50%;
  }

  .insta {
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    margin: 0px 2% 0px 2%;
    padding-left: 0px !important;
  }

  instablock {
    border-radius: 20px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    display: inline-block;
    height: 50vh;
    width: fit-content;
    background-color: white;
    box-shadow: 1px 1px 25px #0f0f0f;
    margin: 5%;
  }

  .instarow {
    justify-content: center;
    flex-direction: column;
  }

  .sec-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    margin: 50% 0% 50% 0% !important;
  }

  .txt-box {
    width: 100%;
    margin: auto;
    z-index: 2;
    margin-top: 5%;
  }

  .fade1 {
    height: 100%;
    width: 100%;
    position: absolute;
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 1) 43%
    );
    z-index: 2;
  }

  .left-txtbox {
    color: white;
    font-size: 12vw;
    direction: rtl;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0px !important;
    -webkit-text-stroke-color: black;
    z-index: 3;
    font-family: "Varela Round", Montserrat, sans-serif !important;
  }

  .first-container {
    flex-direction: column;
  }
  .vimeo-class {
    width: 1500px;
    position: absolute !important;
    top: -10% !important;
    right: -90%;
    height: 125%;
    left: unset !important;
  }

  .circle {
    font-size: 20px !important;
    margin: 5px;
    position: initial;
    left: 60vw;
    top: 52vh;
    animation: 1.5s ease-out 0s 1 slideOnStartRight;
    -webkit-text-stroke-width: 0px;
    direction: rtl;
    font-style: normal;
    text-align: right;
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 61%,
      rgba(0, 136, 11, 1) 62%,
      rgba(0, 255, 136, 1) 68%,
      rgba(0, 0, 0, 1) 69%,
      rgba(0, 0, 0, 1) 100%
    );
    height: 100px;
    width: 100px;
    transition: transform 0.5s ease-out;
  }

  .circle:hover {
    transform: scale(1.3);
  }

  .bluec {
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 61%,
      rgba(0, 46, 226, 1) 62%,
      rgba(0, 134, 255, 1) 68%,
      rgba(0, 0, 0, 1) 69%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .greenc {
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 61%,
      rgba(138, 0, 0, 1) 62%,
      rgb(255, 0, 0) 68%,
      rgba(0, 0, 0, 1) 69%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .circle::before {
    content: "";
    height: 100%;
    width: 50%;
    shape-outside: polygon(
      0 0,
      98% 0,
      50% 6%,
      23.4% 17.3%,
      6% 32.6%,
      0 50%,
      6% 65.6%,
      23.4% 82.7%,
      50% 94%,
      98% 100%,
      0 100%
    );
    float: left;
    shape-margin: 7%;
  }

  .recoverytxt::before {
    content: "";
    height: 100%;
    width: 50%;
    shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
    );
    shape-margin: 7%;
  }

  .circles {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
  }

  .recoverytxt {
    height: 100%;
    text-align: center !important;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    color: white !important;
    font-size: 18px !important;
    line-height: 0.9 !important;
    margin-right: 5%;
    margin-top: 30%;
    font-weight: 400;
  }

  .left-txtbox-small {
    color: white;
    font-size: 5vw;
    font-weight: 400;
    direction: rtl;
    text-align: center !important;
    display: block !important;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    z-index: 3;
  }

  .left-txtbox-smaller {
    color: white;
    font-size: 30px;
    font-weight: 400;
    float: right;
    direction: rtl;
  }

  .left-box {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 20% !important;
    margin-top: 10%;
  }

  .sowhy {
    font-weight: 400;
    font-family: "Varela Round", Montserrat, sans-serif !important;
    font-size: 25px;
    text-align: right !important;
  }

  @keyframes slideOnStartLeft {
    0% {
      transform: translateX(-300%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOnStartRight {
    0% {
      transform: translateX(+300%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOnStartRight {
    0% {
      transform: translateX(+400%);
    }

    100% {
      transform: translateX(0);
    }
  }
}
#cart-admin {
  border-bottom: 1px dashed red;
}
.contact-paragraph {
  display: flex;
  flex-direction: column;
}

.paragraph {
  font-size: 15px;
  font-weight: 300 !important;
}

.react-reveal {
  width: 100%;
}
.sec-title-row {
  width: 70%;
  text-align: right;
  justify-content: center;
  align-items: center;
}
.foot {
  width: 100%;
  background-color: #111111;
  border-top: 1px solid green;
  color: white;
  text-align: center;
  direction: rtl;
  align-self: flex-end;
  justify-self: flex-end;
}

.foot-link {
  font-size: 15px;
  padding: 0 !important;
  margin: 0.3rem;
  color: rgba(255, 255, 255, 0.8) !important;
}
.foot .title {
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8) !important;
}
.home-main-btn {
  background-color: #111111 !important;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 8vh;
  width: 200px !important;
  border-radius: 50px;
}
.home-main-btn-appoint {
  background-color: #686868e1 !important;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 8vh;
  width: 200px !important;
  border-radius: 50px;
  border: 3px solid rgb(241, 203, 33);
  z-index: 1;
}

.copyright_txt {
  text-align: center;
  justify-content: center;
  bottom: 10% !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.social-navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  direction: rtl;
  justify-content: center;
  align-items: center;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.main-title-row {
  width: 100%;
  text-align: center;
}
.sitemap-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

.social-icon {
  margin: 10% 2%;
  width: 60px;
  height: 60px;
}
.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  direction: rtl;
}
.add-barber {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1%;
  padding: 1%;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.upbtn {
  width: 100px;
  margin: 1%;
}
.change-hours {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1%;
}
.accordion {
  width: 100%;
}
.profile-accordion-btn {
  float: right;
  color: rgba(0, 0, 0, 0.8) !important;
  text-decoration: none !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}
.form-control {
  width: 100%;
  align-self: center;
  border-radius: 15px;
}
.academy-row {
  flex-wrap: nowrap !important;
  display: flex;
  flex-direction: column-reverse;
}
.submit-btn {
  width: 100px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2%;
  margin: 5% 0%;
  border-radius: 0px;
}
.input-contact {
  border: 0px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8) !important;
  border-radius: 0px !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
.field {
  background-color: transparent !important;
}
.search-order {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 2%;
  width: 350px;
}
.academy-idan-logo {
  max-width: 95vw;
  object-fit: contain;
  height: auto;
  width: auto;
  max-height: 580px;
}
.search-order-row {
  display: flex;
  flex-direction: row-reverse;
}
.delete-category-row {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: unset !important;
}
.add-category-btn {
  margin-bottom: 10%;
}
.dropzone {
  border: 1px solid black;
}
a:link {
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgba(224, 194, 119, 1) !important;
  background-color: transparent;
  text-decoration: underline;
}

.dropdown-item {
  color: black !important;
}

.contact-icon {
  width: 3.1rem;
  margin: 5px 0.5rem 5px 0.5rem;
}

.contact-icon1 {
  height: 3rem;
  margin: 5px 1.2rem 5px 0.5rem;
}

.navbar-nav .left-menu,
.right-menu {
  text-align: center !important;
}
.appoint-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 30px;
  font-weight: 400;
  color: gold;
  z-index: 2;
  text-shadow: 0px 0px #00000000;
}

.third-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(223, 223, 131);
  background: linear-gradient(
    276deg,
    rgba(255, 233, 138, 1) 20%,
    rgba(255, 243, 189, 1) 100%
  );
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px !important;
  padding: 10% 0%;
}
.shop-btn {
  border: 0px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 30px;
  font-weight: 400;
  color: gold;
  text-shadow: 0px 0px #00000000;
}
.enter-shop-btn {
  font-size: 35px;
  font-weight: 600;
}
video {
  object-fit: cover;
  height: 100%;
}
@media all and (min-width: 800px) {
  video {
    object-fit: cover;
    height: 100% !important;
    width: 100%;
  }
  .storetitle {
    margin-right: "15%";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .enter-shop-btn {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .beauty {
    color: rgba(224, 194, 119, 1);
    font-weight: 500;
    font-size: 6vw;
  }
  .academy-homepage-title .beauty {
    color: #ff5757 !important;
    font-weight: 600;
    font-size: 6vw;
    white-space: nowrap;
  }
  .store-home-container {
    position: relative;
    margin: 2%;
    padding: 0%;
  }
  .contact-container {
    border: 0px;
    padding: 7% 5% !important;
    display: flex;
    flex-direction: column;
    direction: rtl;
    background-color: rgba(224, 194, 119, 1);
    align-items: flex-start;
  }
  .css-mqt2s5 {
    left: unset;
    right: 0;
  }
  .fourth-container .title {
    position: absolute;
    top: 5%;
    right: 3%;
  }
  .product-homepage-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 15% !important;
    margin: 0% !important;
  }
  .product-homepage-img {
    width: 17vw !important;
    max-width: 300px !important;
  }
  .fourth-container {
    position: relative;
    display: flex;
    flex-direction: row;
    background: rgb(223, 223, 131);
    background: linear-gradient(
      276deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(242, 242, 242, 1) 80%
    );
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: right;
  }
  .contact-row {
    display: flex;
    flex-direction: row;
    width: 66% !important;
    text-align: right;
  }
  .contact-description {
    padding: 0% 0%;
  }
  .map {
    width: 33% !important;
  }
  .discover-homepage-title {
    font-size: 5vw !important;
    font-weight: bolder !important;
    margin: 4%;
  }
  .button-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .academy-idan-logo {
    width: 45vw !important;
    max-width: 650px;
  }
  .academy-homepage-title {
    font-size: calc(4vw + 1em);
  }
  .academy-row {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
  }
  .third-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(223, 223, 131);
    background: linear-gradient(
      276deg,
      rgba(255, 233, 138, 1) 20%,
      rgba(255, 243, 189, 1) 100%
    );
    overflow: hidden;
    justify-content: center;
    align-items: center;
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    ) !important;
    margin: 0px 0px 100px 0px;
    padding: 0% 0% 0% 2%;
    height: 700px;
  }
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-input {
    border: 3px solid;
    max-width: 300px !important;
    font-size: 20px;
    direction: ltr;
    padding: 0.5%;
  }

  .auth-title {
    font-weight: 400;
    margin-bottom: 50px;
  }

  .phone-ttl {
    font-size: 28px;
    margin: 0px 15px;
  }
  .phone-text {
    font-size: 22px;
    text-align: right !important;
    width: 100%;
  }
  .input-row {
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    align-self: flex-start;
    width: 100%;
  }

  .navbar-nav {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px;
    margin: 0% 5%;
  }
  .appoint-btn {
    padding: 3%;
    width: 200px;
    font-size: 30px;
    font-weight: 400;
    color: gold;
    z-index: 2;
    text-shadow: 0px 0px #00000000;
  }
  .home-main-btn-appoint {
    background-color: #686868e1 !important;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 8vh;
    width: 200px !important;
    border-radius: 50px;
    border: 3px solid rgb(241, 203, 33);
    z-index: 1;
  }
  .standard-btn {
    max-width: 200px !important;
    height: 50px;
    border: 3px black solid;
    background-color: rgba(224, 194, 119, 0.9);
    font-size: 25px;
    font-weight: 400;
    direction: rtl;
    justify-self: center !important;
    margin-left: 2%;
    margin-right: 2%;
  }
  .react-datepicker {
    font-size: 1.2rem !important;
  }
  .react-datepicker__day {
    margin: 1.15rem !important;
  }
  .react-datepicker__day-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.2rem;
  }
  .react-datepicker__time-list-item {
    height: 55px !important;
    background-color: #b4f8c8;
  }
  .react-datepicker__time-list-item--disabled {
    height: 55px !important;
    background-color: #ffaebc;
  }
  .react-datepicker__header {
    background-color: rgba(224, 194, 119, 1) !important;
  }
  .standard-btn.back {
    background: transparent;
  }
  .error-box {
    width: 40%;
    background-color: #ff7878;
    border-radius: 25px;
    padding: 2%;
    color: white;
    font-size: 20px;
    font-weight: 100;
  }
  .success {
    text-align: center;
  }
  .success.text {
    font-size: 20px;
  }
  .success.img {
    width: 250px;
    margin: 1%;
  }
  .btn-row {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    justify-content: center;
  }
  .date-row {
    margin-bottom: 5%;
  }
  .shop-btn {
    border: 0px solid black !important;
    padding: 3%;
    width: 200px;
    bottom: 0 !important;
    padding: 5%;
    font-size: 30px;
    height: 100% !important;
    font-weight: 400;
    color: gold;
    text-shadow: 0px 0px #00000000;
  }
  .home-main-btn {
    background-color: #111111 !important;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 8vh;
    width: 200px !important;
    border-radius: 50px;
  }
  .store-home-container .shop-btn {
    left: 15% !important;
    top: 25% !important;
    background-color: transparent;
    border: 0px;
    font-size: 2.5vw;
    width: fit-content !important;
    font-weight: bolder;
  }
  .sec-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5% 5% !important;
    margin: 0%;
    min-height: 700px;
    justify-content: center;
  }

  .secondary-title {
    width: 100%;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 2%;
  }

  .secondary-paragraph {
    text-align: center;
    font-size: 22px;
    text-align: center !important;
    direction: rtl;
    line-height: 1.8;
  }

  .crew-img {
    clip-path: circle(40% at 50% 50%);
    display: flex;
    max-width: 15vw;
    object-fit: cover;
  }
  .input-hours {
    border: 1px solid grey;
  }
  .input-col {
    padding: 0 !important;
  }
  .crew-row {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .crew-description {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .progress-bar {
    position: relative;
    display: flex;
    flex-direction: row !important;
    background: transparent !important;
    white-space: nowrap;
    color: black !important;
    justify-content: space-between !important;
    min-width: 40% !important;
    margin-bottom: 3%;
    height: 44px;
    overflow: visible !important;
  }

  .step {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 4px solid #acaca6;
    border-radius: 50%;
    z-index: 2;
  }
  .step.current {
    border: 4px solid rgba(224, 194, 119, 1);
  }
  .step.completed {
    border: 4px solid rgba(224, 194, 119, 1);
    background-color: rgba(224, 194, 119, 1);
  }

  .step-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: unset !important;
  }
  .progress-line {
    border-bottom: 3px solid #acaca6;
    width: 100%;
    position: absolute;
    bottom: 50%;
    z-index: 0;
  }
  .passed {
    border-bottom: 3px solid rgba(224, 194, 119, 1);
    position: absolute;
    bottom: 50%;
    z-index: 1;
  }
  .swiper-btn.active {
    border: 10px greenyellow solid;
    border-radius: 50px;
  }

  .auth-container {
    direction: rtl;
    padding: 3% 15%;
    height: fit-content;
  }
}
